extends ../layout

block scripts
    +script("autofill")

block content
    form(id="report-form" name="report-form" action="/owner/reports" method="get") 
        h2 Get Report
        br
        .form-sect
            label(for="from_date") From:
            input(type="date" name="from_date" placeholder="2022-11-01" required)
        .form-sect
            label(for="to_date") To:
            input(type="date" name="to_date" placeholder="2022-12-01" required)
        br
        .form-sect
            input(type="radio" id="all" value="all" name="type" required) 
            label(for="all") All data
        .form-sect
            input(type="radio" id="genre" value="genre" name="type") 
            label(for="genre") By genre
        .form-sect
            input(type="radio" id="author" value="author" name="type") 
            label(for="author") By author
        br
        input#get-report(type="submit" value="Next")

    form(id="add-book" name="add-book" action="/books" method="post") 
        h2 Add Book
        .form-sect
            label(for="isbn") ISBN: 
            input(type="text" id="isbn" name="isbn" minlength="10" maxlength="10" required) 
        .form-sect
            label(for="title") Title: 
            input(type="text" id="title" name="title" maxlength="50" required)
        .form-sect
            label(for="cover") Cover: 
            input(type="text" id="cover" name="cover" maxlength="50" required)
        .form-sect
            label(for="publisher") Publisher: 
            input(type="text" id="publisher" name="publisher" maxlength="30" required)
            #pub-names.autofill
        .form-sect
            label(for="blurb") Blurb: 
            textarea(id="blurb" name="blurb", cols="40", rows="5" maxlength="2500" required)
        .form-sect
            label(for="price") Price: 
            input(type="number" id="price" name="price" step="0.01" min="0.01" max="10000" required)
        .form-sect
            label(for="page_num") Page num: 
            input(type="number" id="page_num" name="page_num" min="1" max="100000" required)
        .form-sect
            label(for="format") Format: 
            input(type="text" id="format" name="format" required)
            #format-opts.autofill
        .form-sect
            label(for="release_date") Release date:
            input(type="date" id="release_date" name="release_date" required)
        .form-sect
            label(for="stock") Stock: 
            input(type="number" id="stock" name="stock" min="0" max="1000000" required)
        .form-sect
            label(for="sale_percent") Sale %: 
            input(type="number" id="sale_percent" name="sale_percent" step="0.01" min="0.01" max="1" required)
        br
        p Seperate authors and genres with a comma <br>(ex. "Fantasy, Science Fiction")
        .form-sect
            label(for="authors") Authors: 
            input(type="text" id="authors" name="authors" required)
            #auth-names.autofill
        .form-sect
            label(for="genres") Genres: 
            input(type="text" id="genres" name="genres" required)
            #genre-names.autofill
        input#send-book(type="submit" value="Next")