extends ../layout

block content
    form(id="report-form" name="report-form" action="/owner/reports" method="get") 
        h2 Get Report
        br
        .form-sect
            label(for="from_date") From:
            input(type="date" name="from_date" placeholder="2022-11-01" required)
        .form-sect
            label(for="to_date") To:
            input(type="date" name="to_date" placeholder="2022-12-01" required)
        br
        .form-sect
            input(type="radio" id="all" value="all" name="type" required) 
            label(for="all") All data
        .form-sect
            input(type="radio" id="genre" value="genre" name="type") 
            label(for="genre") By genre
        .form-sect
            input(type="radio" id="author" value="author" name="type") 
            label(for="author") By author
        br
        input#get-report(type="submit" value="Next")