extends layout

block scripts
    +script("browse")
    +script("cart")

block content
    aside#search-options

    section#book-list
        each book in books
            .result
                a.cover(href="/books/" + book.isbn)
                    img(src=book.cover)
                .book-data
                    h2
                        a(href="/books/" + book.isbn) #{book.title}

                    - let authors = [];
                    each author in book.authors
                        - authors.push('<a href="/books?author=' + author + '">' + author + '</a>');
                    - authors = authors.join(", ");

                    span.authors
                        != authors

                    +buyBtn(book)

        
        #pagination
            if page > 1
                button#back(onclick="changePage(" + (page - 1) + ")") Back
            if books.length == 20 
                button#next(onclick="changePage(" + (page + 1) + ")") Next