extends layout

block content
    section#cart
        h2 Cart

        if !session.cart
            p Nothing in cart.
        else
            each item in session.cart.books
                .cart-item
                    h3  
                        a(href="/books/" + item.isbn) #{item.title}
                    span $#{item.price.toFixed(2)} - #{item.quantity}x

            #total Total - $#{session.cart.total.price.toFixed(2)}

            //checkout
            if !session.signedIn
                button#checkout(onclick="window.location.href='/login';") Log In/Register to Checkout
            else
                button#checkout(onclick="window.location.href='/checkout';") Checkout