extends layout

block content
    section#checkout
        form#address
            h3 Choose Address
            if session.user.addresses
                each address in session.user.addresses
                    .address-opt
                        input(type="radio" id="'" + address.id + "'" value="'" + address.id + "'" name="address") 
                        label(for="'" + address.id + "'") #{address.fname} #{address.lname} - #{address.street}
            .address-opt
                input(type="radio" id="new" value="new" name="address") 
                label(for="new") New Address