extends layout

block content
    ul
        li
            a(href="/books") Browse Books
        li
            a(href="/cart") View Cart
        if !session.signedIn
            li
                a(href="/login") Log In/Register
        if session.signedIn
            li 
                a(href="/logout") Log Out
            li 
                a(href="/orders") View Orders