extends layout

block scripts
    +script("cart")

block content
    #welcome
        if session.signedIn
            h1 Hi #{session.user.name}!
        else
            h1 Welcome to Look Inna Book
        h2 Our Top Books
    section#book-list.top
        each book in topBooks
            .result
                a.cover(href="/books/" + book.isbn)
                    img(src=book.cover)
                .book-data
                    h2
                        a(href="/books/" + book.isbn) #{book.title}

                    - let authors = [];
                    each author in book.authors
                        - authors.push('<a href="/books?author=' + author + '">' + author + '</a>');
                    - authors = authors.join(", ");

                    span.authors
                        != authors

                    +buyBtn(book)