extends layout


block content
    section#login
        form(id="login" name="login" action="/login" method="post") 
            h2 Log In
            #email
                label(for="email") Email:
                input(type="email" name="email" placeholder="email" required maxlength="30")
            #password
                label(for="password") Password:
                input(type="password" name="password" placeholder="password" required maxlength="30")
            #buttons
                button#login Log In

    section#register
        form(id="register" name="register" action="/accounts" method="post") 
            h2 Register
            #email
                label(for="email") Email:
                input(type="email" name="email" placeholder="email" required maxlength="30")
            #password
                label(for="password") Password:
                input(type="password" name="password" placeholder="password" required maxlength="30")
            #fname
                label(for="fname") First name:
                input(type="text" name="fname" placeholder="First Name" required maxlength="15")
            #lname
                label(for="lname") Last name:
                input(type="text" name="lname" placeholder="Last name" required maxlength="20")
            #buttons
                input(type="submit" value="Register") 