mixin script(file)
    script(type="text/javascript", src="/scripts/" + file + ".js")
    
mixin css(file)
    link(rel="stylesheet" href="/stylesheets/" + file + ".css")

mixin authorLinks(authors)
    - let authorLinks = [];
    each author in authors
        - authorLinks.push('<a href="/books?author=' + author + '">' + author + '</a>');
    - authorLinks = authorLinks.join(", ");

    != authorLinks